<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Recuperar contraceña
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-label position="floating">Ingrese su correo</ion-label>
      <ion-input type="email" class="form-control" [formControl]="userEmail" required></ion-input>
    </ion-item>
    <div class="form-group text-center">
      <ion-button expand="block" (click)="onReset()">
        Enviar correo de recuperacion
      </ion-button>
    </div>
  </ion-card>

</ion-content>  

