<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
    <ion-item>
      <ion-label for="name" class="form-label">Correo: </ion-label>
      <ion-input type="email" [(ngModel)]="credenciales.correo" class="form-control" id="name" name="name" required formControlName="email"></ion-input>
      
    </ion-item>
    <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['required']"
        class="alert alert-danger">Este espacio es requerido.</div>
      <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['email']"
        class="alert alert-danger">El correo debe tener un @. Ej: juancarlo@gmail.com</div>
    <ion-item>
      <ion-label for="name" class="form-label">Contraseña: </ion-label>
      <ion-input type="password" [(ngModel)]="credenciales.password" class="form-control" id="name" name="name" required formControlName="password"></ion-input>
      
    </ion-item>
    <div *ngIf="contactForm.get('password')?.touched && contactForm.get('password')?.errors?.['required']"
        class="alert alert-danger">Este espacio es requerido.</div>
      <div *ngIf="contactForm.get('password')?.touched && contactForm.get('password')?.errors?.['minlength']"
        class="alert alert-danger">La contraceña debe tener
        {{ contactForm.get('password')?.errors?.['minlength']?.requiredLength}} caracteres minimo.</div>
  </form>
    <div class="form-group text-center">
      <ion-button expand="block" [disabled]="contactForm.invalid" (click) ='login()'>
        Ingresar
      </ion-button>

      <br>

      <div class="ion-text-center">
        <a expand="block" [routerLink]="['/registro']" routerLinkActive="router-link-active">Crear una cuenta</a>
      </div>

      <br>

    </div>
    <div class="ion-text-center">
      <p>
        <a [routerLink]="['/forgot-password']">Olvidaste la contraseña</a>
      </p> 
    </div>
  </ion-card>
</ion-content>

