<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Correo</ion-label>
    <ion-input [(ngModel)]="credenciales.correo"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Contraceña</ion-label>
    <ion-input type="password" [(ngModel)]="credenciales.password"></ion-input>
  </ion-item>
  <ion-button (click) ='login()'>
    login
  </ion-button>
  <ion-button [routerLink]="['/registro']" routerLinkActive="router-link-active">
    registro 
  </ion-button>
</ion-content>

