<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Desliza para acceder al menu
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list *ngIf="info">
    <ion-item>
      <ion-label>
        <a>Bienvenido!! {{info.nombre}} {{info.apellido}}</a>
      </ion-label>
    </ion-item>
    <ion-img src="/assets/auto.jpg"></ion-img>
  </ion-list>
  
</ion-content>


