<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Lista de viajes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-viaje" *ngFor="let viaje of viajes" >
    <ion-card>
      <ion-card-header>
        <ion-card-title>Cantidad de pasajeros: {{viaje.cantidad}}</ion-card-title>
        <ion-card-title>Precio del viaje: {{viaje.precio}}</ion-card-title>
      </ion-card-header>
    </ion-card>
    
  </div>
</ion-content>
