<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Crear Viaje
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    
    <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
      <ion-item>
        <ion-label for="name" class="form-label">Nombre: </ion-label>
        <ion-input [disabled]="isInputDisabled" type="text" [(ngModel)]="data.nconductor" class="form-control" id="name" name="name" required formControlName="nconductor"></ion-input>
        
      </ion-item>
      <div *ngIf="contactForm.get('nconductor')?.touched && contactForm.get('nconductor')?.errors?.['required']"
          class="alert alert-danger">Este espacio es requerido.</div>


      <ion-item>
        <ion-label for="name" class="form-label">Cantidad: </ion-label>
        <ion-input [disabled]="isInputDisabled" type="number" [(ngModel)]="data.cantidad" class="form-control" id="name" name="name" required formControlName="cantidad"></ion-input>
        
      </ion-item>
      <div *ngIf="contactForm.get('cantidad')?.touched && contactForm.get('cantidad')?.errors?.['required']"
          class="alert alert-danger">Este espacio es requerido.</div>
  
      <ion-item>
        <ion-label for="name" class="form-label">Precio: </ion-label>
        <ion-input [disabled]="isInputDisabled" type="number" [(ngModel)]="data.precio" class="form-control" id="name" name="name" required formControlName="precio"></ion-input>
        
      </ion-item>
      <div *ngIf="contactForm.get('precio')?.touched && contactForm.get('precio')?.errors?.['required']"
          class="alert alert-danger">Este espacio es requerido.</div>
  
          
      <ion-item>
        <ion-label>Fecha:</ion-label>
        <ion-input [disabled]="isInputDisabled" type="date" class="form-control" id="name" name="name" required formControlName="fecha" [(ngModel)]="data.fecha"></ion-input>
        <div *ngIf="contactForm.get('fecha')?.touched && contactForm.get('fecha')?.errors?.['required']"
        class="alert alert-danger">Este espacio es requerido.</div>

      </ion-item>
      <ion-item>
        <ion-label>Hora:</ion-label>
        <ion-input [disabled]="isInputDisabled" type="time" class="form-control" id="name" name="name" required formControlName="hora" [(ngModel)]="data.hora"></ion-input>
        <div *ngIf="contactForm.get('hora')?.touched && contactForm.get('hora')?.errors?.['required']"
        class="alert alert-danger">Este espacio es requerido.</div>
      </ion-item>
          
          
    </form>
    <ion-button (click)="toggleButton()" [disabled]="isButtonDisabled" (click)="toggleInput()" [disabled]="botonPresionado" [disabled]="contactForm.invalid" expand="block" (click)="crearNuevoViaje()">
      Crear viaje
    </ion-button>
    
  </ion-card>
  
</ion-content>